APP_NAME=SafeDoc API (debug)
API_PORT=8000
SECRET_KEY=debug_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=60

POSTGRES_DB=safedoc
POSTGRES_USER=safedoc
POSTGRES_PASSWORD=safedoc_pass

MONGO_DB=safedoc

# Для debug SMTP идет через Mailpit
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply@safedoc.local

DEFAULT_SUPERADMIN_LOGIN=admin
DEFAULT_SUPERADMIN_PASSWORD=admin123

PGADMIN_DEFAULT_EMAIL=admin@safedoc.local
PGADMIN_DEFAULT_PASSWORD=admin
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASSWORD=admin

